@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: honeydew;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #355e3b;
}

header,
footer {
  background-color: #c4ffc4;
  height: 100px;
  padding: 1rem;
  text-align: center;
}

h1 {
  font-size: 3rem;
}
footer {
  text-align: center;
  font-size: 1.2rem;
}

main {
  min-height: calc(100vh - 200px);
  display: flex;
  justify-content: center;
  align-items: center;
}
main > div {
  margin: 0 auto;
}

.circle {
  height: 200px;
  width: 200px;
  background-color: #fffdd0;
  border-radius: 50%;
  box-shadow: 0 0 5px #355e3b;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #c4ffc4;
  font-family: "Open Sans", sans-serif;
  color: #355e3b;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  margin: 1rem;
  box-shadow: 0 0 5px #355e3b;
  font-size: 1rem;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 0 10px #355e3b;
}

.odd {
  background-color: mistyrose;
}
.even {
  background-color: #b9f2ff;
}
