@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: rgb(255, 223, 225);
  background: radial-gradient(
    circle,
    rgba(255, 223, 225, 1) 21%,
    rgba(190, 151, 145, 1) 100%
  );
  font-family: "Oxygen", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
}

header {
  height: 100px;
  padding-top: 70px;
  text-align: center;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 20px;
  text-align: center;
}

h1 {
  font-size: 3rem;
}
footer {
  text-align: center;
  font-size: 1.2rem;
}

main {
  min-height: calc(100vh - 200px);
  display: flex;
  justify-content: center;
  align-items: center;
}
main > div {
  margin: 0 auto;
}

.circle {
  height: 200px;
  width: 200px;
  margin-left: 140px;
  background-color: #be9791;
  border-radius: 50%;
  box-shadow: 5px 2px 5px #cdafb0;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #cdafb0;
  font-family: "Oxygen", sans-serif;
  color: #333;
  width: 130px;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  margin: 1rem;
  margin-top: 2rem;
  box-shadow: 0 0 5px #4f4f4f;
  font-size: 1rem;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 0 10px #4f4f4f;
  background-color: #eabfb9;
}

.odd {
  background-color: #fffffb;
  color: #4f4f4f;
  box-shadow: 0 0 5px #4f4f4f;
}
.even {
  background-color: #4f4f4f;
  color: #fffffb;
  box-shadow: 0 0 10px #fffffb;
}
